.transfer_card {
    display: flex;
    align-items: center;
    padding: 50px 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, .26);
    cursor: pointer;
}

.transfer_card:hover {
    transform: translate(0, -5px);
    transition-duration: 0.5s;
    box-shadow: -1px 5px 10px rgba(0, 0, 0, .26);
}

.transfer_card img {
    width: min-content;
    height: min-content;
}

@media (max-width: 768px) {
    .transfer_card {
        flex-direction: column;
    }

    .transfer_card .right {
        margin-top: 10px;
        text-align: center;
    }

    .transfer_card .font_25 {
        font-size: 18px;
    }
}