.carousel-item {
  width: 100%;
  max-width: 220px;
  padding: 10px;
  height: 308px;
  position: relative;
  border-radius: 6px;
}

.carousel-container {
  width: 100%;
  height: 320px;
  padding: 10px;
}

.item-date {
  font-size: smaller;
}

.description_box {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 40px;
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
}

.button-box {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 5px;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.button {
  background-color: transparent ;
  border-radius: 15px;
  height: 25px;
  width: 85px;
  cursor: pointer;
}

.carousel-item-img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.xml-join-plasbit{
  margin: auto !important;
}

.source_text{
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  bottom: 8px;
  margin-top: 5px;
  height: 15px;
  width: fit-content;
}

.h1-style {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
  line-height: 22px;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.xml_widget:hover .slick-arrow {
  display: block !important;
}

.xml_widget {
  border-radius: 6px;
  margin: auto;
}

.slick-arrow {
  color: transparent;
  margin-top: 0;
  padding: 5px;
  opacity: 0.4;
  cursor: pointer;
  border: transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 40%;
  display: none !important;
  transition: all 0.3s ease-in-out;
}

.slick-prev {
  clip-path: inset(0% 0% 0% 50% round 0% 0%);
  left: -50px;
}

.slick-next {
  clip-path: inset(0% 50% 0% 0% round 0% 0%);
  right: -50px;
}

@media (max-width: 768px) {
  .widget_preview img {
    height: 140px;
  }
  .xml_widget {
    width: 225px !important
  }
  .empty-rss {
    height: 308px;
    width: 100%;
    max-width: 225px;
  }
}

