.first-title {
    text-align: center;
    width: 55%;
    margin: auto;
    
}
.first-title .title{
    font-size: 60px !important;
}

.first-title .text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 100%;
    padding: 3%;
    font-size: 25px;
}
.secBtn{
    width: 258px !important;
    height: 57px !important;
    border-radius: 10px !important;
    font-weight: bolder !important;
    line-height: 36px !important;
    margin: 4px 0 16px 0 !important;
    font-family: 'Proxima Nova' !important;
    text-align: center !important;
    padding: 4px 15px !important;
    display: inline-block !important;
}

.security-title{
    display: none;
}


@media screen and (max-width: 900px) {
    .first-title {
        width: 85%;
    }

    .first-title .title {
        font-size: 65px;
        line-height: 70px;
        font-weight: 800;
        font-family: "Proxima Nova";
        text-align: center;
    }
    .first-title .text{
        font-size: 20px;
        line-height: 36px;  
    }
}