.payment_forth {
    transform: skewY(4deg);
    padding: 150px 0;
    font-family: "Proxima Nova";
    text-align: center;

    display: flex;
    justify-content: center;
}

.payment_forth_container {
    transform: skewY(-4deg);
    width: 1500px;
}

.payment_forth_font81 {
    font-size: 81px;
    line-height: 90px;
    color: #1890ff;
    font-weight: 800;
    filter: drop-shadow(0px 23px 13.5px rgba(40,57,87,0.2));

    margin-bottom: 80px;
}

.payment_forth_font81 span {
    color: #082848;
}

@media (max-width: 768px) {
    .payment_forth {
        padding: 100px 30px;
    }

    .payment_forth_font81 {
        font-size: 50px;
        line-height: 70px;
        margin-bottom: 50px;
    }
}

@media (min-width: 769px) {
    .payment_forth_container {
        width: 800px;
    }
}

@media (min-width: 1600px) {
    .payment_forth_container {
        width: 1500px;
    }
}