.payment_second {
    margin-top: -70px;
    padding: 120px 0;
    width: 100%;
    transform: skewY(4deg);
    background-image: linear-gradient(47deg, #072747 0%, #0e4277 89%, #0e4277 100%);
    color: #fefefe;
    font-family: "Proxima Nova";
    text-align: center;
}

.payment_second_container {
    transform: skewY(-4deg);
}

.payment_second_font65 {
    font-size: 65px;
    line-height: 70px;
    font-weight: 800;
}

.payment_second_font65 span {
    color: #1890ff;
}

.payment_second_font35 {
    margin: 35px 0;
    font-size: 35px;

    display: flex;
    justify-content: center;
}

.payment_second_font35 p {
    width: 1170px;
}

.payment_second_font35  a {
    color: #1890ff;
}

.payment_second_font35 span {
    font-size: 20px;
    font-weight: 800;
    vertical-align: baseline;
}

.payment_second_font25 {
    font-size: 25px;

    display: flex;
    justify-content: center;
}

.payment_second_font25 p {
    width: 554px;
}

.payment_second_imggroup img {
    margin: 25px 15px;
}

.payment_second_imgs img {
    margin: 10px 25px;
}

.payment_second_btngroup button {
    margin: 80px 15px;
    width: 255px;
    height: 55px;
    border: none;
    border-radius: 8px;

    font-size: 18px;
    font-weight: bold;
    line-height: 36px;

    cursor: pointer;
    transition: all 0.5s ease;
}

.payment_second_btngroup button:hover {
    transform: translate(5px, -5px);
    transition-duration: 0.5s;
    box-shadow: -1px 5px 10px rgba(0, 0, 0, .26);
}

.payment_second_btngroup button:nth-child(1) {
    background-image: linear-gradient(90deg, #1783e7 0%, #00abff 100%);
    color: #ffffff;
}

.payment_second_btngroup button:nth-child(2) {
    background-color: #ffffff;
    color: #082848;
}

@media (max-width: 768px) {
    .payment_second {
        padding:80px 5px 5px 5px;
        margin-top: -130px;
        padding-bottom: 80px;
    }

    .payment_second_font65 {
        font-size: 56px;
        line-height: 70px;
    }

    .payment_second_font35 {
        font-size: 20px;
        line-height: 35px;
    }

    .payment_second_font35 p {
        width: auto;
    }

    .payment_second_font25 {
        font-size: 17px;
        line-height: 28px;
    }

    .payment_second_font25 p {
        width: auto;
    }

    .payment_second_imggroup img {
        margin: 25px 10px;
    }

    .payment_second_imgs img {
        width: 272px;
        height: 440px;
    }

    .payment_second_btngroup button {
        width: 100%;
        height: 55px;
        margin: 35px 0 0 0;
    }
    .payment_second_btngroup {
        padding: 20px;
    }
}

@media (min-width: 769px) {
    .payment_second {
        padding: 120px 100px;
    }

    .payment_second_font65 {
        font-size: 50px;
        line-height: 50px;
    }

    .payment_second_font35 {
        font-size: 25px;
    }

    .payment_second_font35 p {
        width: auto;
    }

    .payment_second_font25 {
        font-size: 15px;
    }

    .payment_second_font25 p {
        width: auto;
    }
}

@media (min-width: 1400px) {
    .payment_second_font65 {
        font-size: 65px;
        line-height: 70px;
    }

    .payment_second_font35 {
        font-size: 35px;
    }

    .payment_second_font35 p {
        width: 1170px;
    }

    .payment_second_font25 {
        font-size: 25px;
    }
    
    .payment_second_font25 p {
        width: 554px;
    }
}