.transfer_accordion {
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgb(0 0 0 / 8%);
}

.transfer_accordion .accordion_title {
    display: flex;
    justify-content: space-between;
    padding: 37px;
    cursor: pointer;
}

.transfer_accordion .font_25 {
    text-align: left;
}

.transfer_accordion .accordion__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
}

.transfer_accordion .rotate {
    transform: rotate(90deg);
}

.transfer_accordion .accordion_content {
    transition: max-height 0.6s ease;
    overflow: hidden;
}

.transfer_accordion .text {
    line-height: 20px;
    padding: 20px 40px 40px;
    text-align: left;
}

@media (max-width: 768px) {
    .transfer_accordion .accordion_title {
        padding: 20px;
        height: 100px;
    }

    .transfer_accordion .accordion_title p {
        max-width: 97%;
    }

    .transfer_accordion .font_25 {
        font-size: 20px;
    }
}